<div class="register vh-100">
  <nav class="d-flex align-items-center p-2">
    <img src="../../../assets/image/mejharlogo.png" alt="error" class="logom" width="100px"/> 
    <nav class="d-flex justify-content-end align-items-center p-3">
      <a routerLink="/login" class="navbar-log-in link mx-3">Log in</a>
      <a routerLink="/register" class="navbar-navlink6 rounded mx-2">
        <div class="navbar-sign-up-btn rounded">
            <span class="navbar-sign-up p-2 text-white">Sign up</span>
        </div>
      </a>  
    </nav>
  </nav>
  <div class="overlay d-flex h-100">
    <div class="sign-up-container">
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="w-50 shadow-lg py-5 px-4">
        <h1 class="mb-5">Hello!</h1>
        <p class="sign-up-text01">Already have an account ! <a class="main-color login" routerLink="/login">Sign In</a></p>
        <h4 class="sign-up-text02">
          <span>Username</span>
          <br />
        </h4>
        <input formControlName="name" class="form-control my-2" type="text" id="name" >
        <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert-danger alert">
          <p class="m-0" *ngIf="registerForm.get('name')?.errors?.['required']">* name is required</p>
          <p class="m-0" *ngIf="registerForm.get('name')?.errors?.['minlength']">* name is min length 3 </p>
          <p class="m-0" *ngIf="registerForm.get('name')?.errors?.['maxllength']">* name is max length 20 </p>
        </div>
        <h4 class="sign-up-text03">
          <span>Email</span>
          <br />
        </h4>
        <input formControlName="email" class="form-control my-2" type="email" id="email" >
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert-danger alert">
          <p class="m-0" *ngIf="registerForm.get('email')?.errors?.['required']">* email is required</p>
          <p class="m-0" *ngIf="registerForm.get('email')?.errors?.['email']">* email is Invalid </p>
        </div>
        <h4 class="sign-up-text04">
          <span>Password </span>
          <br />
        </h4>
        <input formControlName="password" class="form-control my-2" type="password" id="password">
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert-danger alert">
          <p class="m-0" *ngIf="registerForm.get('password')?.errors?.['required']">* password is required</p>
          <p class="m-0" *ngIf="registerForm.get('password')?.errors?.['minlength']">* password is min length 8 </p>
        </div>
        <h4 class="sign-up-text05">
          <span>Confirm Password </span>
          <br />
        </h4>
        <input formControlName="confirm_password" class="form-control my-2" type="password" id="Confirm-Password" >
        <div *ngIf="registerForm.get('confirm_password')?.value != registerForm.get('password')?.value && registerForm.get('confirm_password')?.touched" class="alert-danger alert">
          <p class="m-0" *ngIf="registerForm.get('confirm_password')?.errors?.['required']">* Confirm Password is required</p>
          <p class="m-0">* Confirm Password Should be Equal to Password</p>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="btn w-100 custom-button my-4">Sign Up</button>
        <div *ngIf="errorMsg" class="alert alert-danger">
          {{errorMsg}}
        </div>
      </form>
    </div>
  </div>
</div>
