<div class="dashboard-eng-container">
    <nav class="d-flex align-items-center p-2">
        <img src="../../../assets/image/mejharlogo.png" alt="error" class="logom" width="100px"/> 
    <nav class="d-flex justify-content-end align-items-center p-3">
        <a  style="cursor: pointer;" (click)="logOut()" class="navbar-log-in link mx-3">Log out</a>   
    </nav>
</nav>  
    <div style="display: flex; justify-content: center; width: 1500px; text-align:center;">
        <iframe class="frame" src="https://8.213.27.39:5601/login" frameborder="0" allowfullscreen width=1290
            height="650" ></iframe>
    </div>
</div>