<nav class="d-flex align-items-center p-2">
  <img src="../../../assets/image/mejharlogo.png" alt="error" class="logom" width="100px"/> 
  <nav class="d-flex justify-content-end align-items-center p-3">
      <a routerLink="/home" class="navbar-navlink6 rounded ">
          <div class="navbar-sign-up-btn rounded mx-2">
              <span class="navbar-sign-up p-2  text-white">Back</span>
          </div>
      </a>    
  </nav>
</nav>
<div class="about-section lernmore-container">
    <h1 class="title">Learn more</h1>
    <p class="abstract">The increasing technological development has expanded the severity of cyber-attacks targeting institutions and individuals globally. Therefore, threat intelligence is considered a solid core element since it aims to provide regular and relevant data on cyber breaches, including local and global statistics.
      This project proposes the Mejhar tool, which gathers up-to-date information about potential cyber threats in the internet environment from dependable sources. It scans these warnings and then provides results to strengthen cybersecurity capabilities, which will be effectively used to mitigate cyber-attacks.
      The Mejhar tool's output is a website that gathers data about cyber threats from credible sources and then shows it via a dashboard with the severity of the attack, its source, name, and a ton of additional information with the option to search for keywords.
       </p>
  <h3 class="our">Our Team</h3>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="name">Fay Allohaidah</h2>
          <p class="major">Applied Computing - Cyber Security Student</p>
          <p class="email" > 439201328@student.ksu.edu.sa</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="name">Layan Alturki</h2>
          <p class="major">Applied Computing - Cyber Security Student</p>
          <p class="email" > 439200960@student.ksu.edu.sa</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="name">Joud Alfayez</h2>
          <p class="major">Applied Computing - Cyber Security Student</p>
          <p class="email" > 439925859@student.ksu.edu.sa</p>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="name">Danyah Alshathri</h2>
          <p class="major">Applied Computing - Cyber Security Student</p>
          <p class="email" > 439925289@student.ksu.edu.sa</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="name">Yara Hydar</h2>
          <p class="major">Applied Computing - Cyber Security Student</p>
          <p class="email" > 441925807@student.ksu.edu.sa</p>
        </div>
      </div>
    </div>
  </div>
</div>

